<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Where are we?</h1>
    <p>The locations featured here are from within the landlocked European country of Switzerland. The country has many notable features, both geographical and produced.</p>
    <p>The Alps are easily the most famout mountain range in Europe, boasting wonderful vistas and some of the greatest skiing resorts. Switzerland also has a rich culture in banking as well as a notable foreign policy of neutrality, and is one of the most secure places to store valuables and money. Other items of not are watches, which are of the highest quality in the world, chocolates of many kinds, and a very recognizable multi-purpose knife.</p>

  </article>
  <!-- article -->

  <article class="article">
    <h1 class="article-title">Get Busy!</h1>
    <p>If you want to learn more about Switzerland, <a href="https://en.wikipedia.org/wiki/Switzerland">read this wikipedia article</a>, or <a href="https://www.amazon.com/Concise-History-Switzerland-Cambridge-Histories/dp/0521143829">grab a book about the country</a>.</p>
  </article>
  <!-- article -->

  <article class="article">
    <h1 class="article-title">Why should you visit?</h1>
    <ul>
      <li>The country sits in the heart of Europe</li>
      <li>Travel around the country and into other countries is very quick and easy</li>
      <li>The skiing on any number of slopes is some of the greatest in the world</li>
    </ul>
  </article>
  <!-- article -->
</div>
