<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Where are we?</h1>
    <p>The locations featured here are of the largest football stadiums in England. They are some of the most notable and recognizable stadiums in the sport that are located in England, and they see games almost weekly during the season in England.</p>
    <p>One of the most recognizable sports in the world, football (or soccer here in the US) is played anywhere and everywhere, from dirt patches to grassy fields, with cleats, bare feet, or just plain sneakers. These stadiums are easily recognized across the world by anyone who loves the sport.</p>

  </article>
  <!-- article -->

  <article class="article">
    <h1 class="article-title">Why should you visit?</h1>
    <ul>
      <li>Football is one of the most universal sports in the world, and true fans would love to sit (or more likely stand) and watch a game at one of these stadiums.</li>
      <li>Because the stadiums are only within hours of eachother, it can be easy to see games at each stadium in a month durig the season, and during playoff games.</li>
    </ul>
  </article>
  <!-- article -->
</div>
